@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Raleway:wght@600&family=Roboto+Slab:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #5cdb94;
  color: #fff;
}
.card{
  border-radius: 2rem;
  width: 30%;
  height: 500px;
  margin: 4rem auto;
  background: #389583;
}
.whitespace{
  height: 10rem;
  border-radius: 2rem 2rem 0 0;
}
#heading{
  text-align: center;
  font-size: 4rem;
  padding: 5rem 0 0 0;
  font-family: 'Comfortaa';
}
#groupID{
  font-family: 'Roboto Slab';
}
.heading{
  text-align: center;
  padding: 1rem 0;
}
.members{
  margin: 0 3rem;
}
.members li{
  font-size: 1.2rem;
  font-family: 'Roboto Slab';
  list-style-image: url('../images/check-all.svg');
}

@media (min-width: 770px) and (max-width: 1200px){
  .card{
    width: 50%;
  }
}


@media (min-width: 481px) and (max-width: 769px){
  .card{
    width: 55%;
    margin: 3rem auto;
  }
  #heading{
    font-size: 2.5rem;
  }
}


@media (max-width: 480px){
  .card{
    width: 90%;
    margin: 3rem auto;
  }
  #heading{
    font-size: 3.5rem;
  }
  #groupID{
    font-size: 2rem;
  }
  .members{
    padding: 2rem .5rem;
  }
}
